.cursorrules
wechat_html/DeepSeek-local-deploy.html
wechat_html/images/20250131_232243_image.png
wechat_html/images/DeepSeekStatus.png
wechat_html/images/ollam-run-deepseek-r1.png
wechat_html/images/ollama-chat-test-q2.png
wechat_html/images/OllamaDownload.png
